# 以下設定 interface, types, non_field_members 只有在 public 時，需要套用規則
# 會被套用的規則參考 dotnet_naming_rule 和 dotnet_naming_style 的設定
[*]
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public

# 以下設定將規則設為 error，以便觀看錯誤
dotnet_naming_rule.interface_should_be_begins_with_i.severity = error
dotnet_naming_rule.types_should_be_pascal_case.severity = error
dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = error